span{
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}
.toggleable{
    display: inline-block;
    width: 15%;
    height: 100vh;
    background-color: #d6d6d6;
}
.container{
    width: 80%;
    margin: auto;
}
#leftMenu{
    float: left;
    text-align: center;
    transition-property: background-color;
    transition-duration: 1.5s;
}
#rightMenu{
    float: right;
    text-align: center;
}
.banner{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
#content{
    display: inline-block;
    text-align: center;
    width: 70%;
}
.title{
    font-weight: bold;
    color: rgb(97, 86, 255);
}
.menuButton{
    width: 80%;
    height: 20px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: solid rgb(97, 86, 255) 1px;
    border-radius: 5px;
    text-decoration: none;
}
.menuSymbol{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
#blogContent{
    height: 50vh;
}
.blogDiv{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    padding: 3px;
    border: solid rgb(97, 86, 255) 1px;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(97, 86, 255);
    cursor: pointer;
}
#mainBlog{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    border: solid rgba(0, 0, 0, 0.5) 1px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}
#blogTitle{
    font-size: 25px;
}
#hide{
    visibility: hidden;
}
.submitButton{
    padding: 10px;
    color:rgb(97, 86, 255);
}